# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
*.env

# Anaconda
*.conda
*.ipynb_checkpoints/